/**
 * @Description:
 * @author Harry May(梅浩辉)
 * @date 2020/1/7
 */
//主价格
function mainPrice(price, discountPrice) {
    if (!discountPrice) {
        return {
            price:price,
            display:true
        }
    } else {
        return {
            price:discountPrice,
            display:true
        }
    }
}

//划线价格
function slashedPrice(price, discountPrice) {
    if (discountPrice) {
        return {
            price:price,
            display:true
        }
    } else {
        return {
            price:null,
            display:false
        }
    }
}

module.exports = {
    mainPrice: mainPrice,
    slashedPrice: slashedPrice
}